<!-- Header Start -->
<div class="header-area">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper">
                <!-- Logo -->
                <div class="logo">
                    <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>                                                  
                        <ul id="navigation">  
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About</a></li>
                            <li class="hot"><a href="#">Latest</a>
                                <ul class="submenu">
                                    <li><a href="/shop">Product list</a></li>
                                    <li><a href="/product-details">Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/blog">Blog</a>
                                <ul class="submenu">
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/blog-details">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Right -->
                <div class="header-right">
                    <ul>
                        <li>
                            <div class="nav-search search-switch">
                                <span class="flaticon-search"></span>
                            </div>
                        </li>
                        <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a></li>
                        <li>
                            <% if (locals.userData) { %>
                                <a class="btn btn-outline-primary btn-sm" id="logout-btn">Logout</a>
                            <% } else { %>
                                <a href="/signup" class="btn btn-outline-primary btn-sm">Sign Up</a>
                                <a href="/login" class="btn btn-outline-primary btn-sm">Login</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->